<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.base.repository.cms.ArticleDao">
		<insert id="add" parameterType="article" useGeneratedKeys="true" keyProperty="articleId">
		insert into t_article 
		(title,source,content,author,keyword,intro,type,recommend,headline,createTime,updateTime) 
		values 
		(#{title},#{source},#{content},#{author},#{keyword},#{intro},#{type},#{recommend},#{headline},#{createTime},#{updateTime})
		</insert>	
		
		<insert id="addCategoryRelate" parameterType="categoryArticle" >
			insert into t_category_article(categoryId,articleId) values (#{categoryId},#{articleId})
		</insert>
		<select id="isRealArticleId" parameterType="int" resultType="int" >
			select count(articleId) from t_article where articleId = #{id}
		</select>
		<select id="findById" parameterType="int" resultType="article" >
			select articleId,title,source,author,keyword,intro,type from t_article where articleId = #{id}
		</select>
		<select id="getRelateCategoryId" parameterType="int" resultType="int" >
			select categoryId from t_category_article where articleId = #{id}
		</select>
</mapper>