<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.base.repository.cms.AttachmentDao">

		<insert id="add" parameterType="article" useGeneratedKeys="true" keyProperty="articleId">
		insert into t_attachment values 
		(#{attachId},#{articleId},#{title},#{contentType},#{uploadTime},#{path},#{content})
		</insert>	
		
</mapper>