<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.base.repository.chat.MessageDao">
		<insert id="add" parameterType="message">
		insert into t_message values 
		(#{msgid},#{reciverId},#{senderId},#{content},#{sendTime},#{flag})
		</insert>
		<select id="getMessageByCondition" resultType="message" >
			select * 
			<if test="senderId!=null">
						,(select username from t_user where userid = senderId) as senderName 
			</if>
			from t_message  
			<where>
				<if test="senderId!=null">
						and senderId = #{senderId}
				</if>
				
				<if test="reciverId!=null">
						and reciverId = #{reciverId}
				</if>
				<if test="flag!=null">
						and flag = #{flag}
				</if>
			</where>
			order by sendTime 
		</select>	
		
		<update id="changeMsgFlag">
			update t_message set flag=1 where senderId = #{senderId} and reciverId = #{reciverId} and flag = 2;
		</update>
</mapper>