<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.base.repository.order.OrderDao">
			<resultMap type="order" id="orderMapper">
				<id column="oid" property="oid"/>
				<result column="price" property="price"/>
				<association property="person" javaType="person"  >
					<id column="pid" property="pid"/>
					<result column="name" property="name"/>
				</association>
			</resultMap>
			
			<select id="findById" parameterType="long" resultMap="orderMapper">
				select o.*,p.* from t_order o,t_person p where o.pid = p.pid and o.oid=#{id};
			</select>
			
			<delete id="deleteById" >
				delete from t_order where pid in 
				
				<foreach item="item" index="index" collection="array"
				open="(" separator="," close=")">
				#{item}
				</foreach>
			</delete>
</mapper>